.thumbnail {
  padding: 10px 20px 0 20px;
}
.thumbnail > img{
  width: 100%;
  height: 300px;
}

.thumbnail > .caption > h3 {
  font-size: 20px;
}

#main-container-outside {
  background-color: rgba(227, 37, 25, 0.85);
  /*change-this*/

}
